.signup-page {
  justify-content: center;
  display: flex;
  height: 100vh;
  align-items: center;
}
.signup-form {
  text-align: center;
}
#spanLoading {
  display: none;
}
#error {
  font-size: 12px;
  color: red;
  text-align: justify;
}
.google {
  margin-top: 10px;
}
.sign-up {
  margin-top: 8px;
}
.sign-up p {
  margin-top: 10px;
}
